CompileFlags:
  Add:
    - -Wno-unused-parameter
    - -Wno-missing-designated-field-initializers
    - -Wno-missing-field-initializers
    - -Wno-unknown-type-name
    - -Wno-unused-variable
    - -Wno-format
    - -Wno-sign-compare
    - -ferror-limit=0

  Remove: []
    # - -fmodules-ts
    # - -fmodule-mapper=*
    # - -fdeps-format=*

Diagnostics:
  UnusedIncludes: None
---
If:
  PathMatch: [.*sub/.*, .*build/.*, .*cmake_more_cache/.*]
Diagnostics:
  Suppress: "*"