[submodule "fastgltf"]
	path = sub/fastgltf
	url = https://github.com/spnda/fastgltf
[submodule "glm"]
	path = sub/glm
	url = https://github.com/rarepng/glm
	branch = master
[submodule "glfw"]
	path = sub/glfw
	url = https://github.com/glfw/glfw
[submodule "gns"]
	path = sub/gns
	url = https://github.com/rarepng/GameNetworkingSockets
[submodule "protobuf"]
	path = sub/protobuf
	url = https://github.com/rarepng/protobuf
[submodule "sub/simdjson"]
	path = sub/simdjson
	url = https://github.com/simdjson/simdjson
[submodule "sub/vk_boot"]
	path = sub/vk_boot
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "sub/vma"]
	path = sub/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "sub/stb"]
	path = sub/stb
	url = https://github.com/nothings/stb
[submodule "sub/imgui"]
	path = sub/imgui
	url = https://github.com/ocornut/imgui
[submodule "sub/absl"]
	path = sub/absl
	url = https://github.com/abseil/abseil-cpp
	branch = lts_2024_07_22
