dist
build
build_static
build_shared
build_corrupted
cmake_more_cache
resources
vsbuild
gbuild
.vs
vs
CMakeSettings.json
gg.cmake
CMakeLists.txt.user
.config
.cache
.vscode
*.swp
out
diagrams
share
docs
CMakeUserPresets.json
html
